<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>New Inner Circle</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for @inner_circle do |f| %>
        <div class="row-control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Create", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
