<h1>Welcome, <%= @user.name %></h1>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>User Info</h2></div>
    <div class="panel-body">
      <%= render partial: 'user_info' %>
    </div>
  </div>
</div>

<%= link_to "New Circle", new_inner_circle_path %>

<% @user.inner_circles.each do |circle| %>
  <%= link_to "#{circle.name}", inner_circle_path(circle) %>
<% end %>

