<!-- Portfolio Grid Section -->
<section id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>The Inner Circle</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 portfolio-item">
      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <%= image_tag 'paulrahn.jpg', class: 'img-responsive' %>
      </a>
    </div>
  </div>
</div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Paul Rahn</h2>
            <hr class="star-primary">
            <%= image_tag 'paulrahn.jpg', class: 'img-responsive img-centered' %>
            <p>I worked with Paul for a few years at Eco-Products.  He knows his stuff when it comes to digital marketing, ecommerce and online strategy.  He helped grow our ecommerce sales by a huge amount.  He’s very creative and knows the tools and resources to draw upon to execute different tactics.  He’s a solid guy and a lot of fun to work with.  He’s also done work with startups.  I would recommend talking to him.</p>
            <ul class="list-inline item-details">
              <li>
              <strong><a href="https://www.linkedin.com/in/paulrahn">LinkedIn</a>
              </strong>
              </li>
              <li>
              <strong><a href="#">Resume</a>
              </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
