<section id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>The Inner Circle</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <% @warmers.each.with_index do |warmer, index| %>
      <%= render partial: 'partials/warmer_cover', locals: {warmer:warmer, index:index} %>
    <% end %>
  </div>
  </section>

  <!-- Details for Modals -->
  <% @warmers.each.with_index do |warmer, index| %>
    <%= render partial: 'partials/warmer_detail', locals: {warmer:warmer, index:index} %>
  <% end %>

