<header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag "circle.jpeg", class: "img-responsive" %>
      <div class="intro-text">
        <span class="name">Luke's Circle</span>
        <hr class="star-primary">
        <span class="skills">Inside the Circle</span>
      </div>
    </div>
  </div>
</div>
</header>

<!-- About Section -->
<section class="success" id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About</h2>
      <hr class="star-light">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <p>Finding talented people is hard.</p>
      <p>So when you find someone talented, shouldn't there be a good way to keep track of that person?  A way to recall him or her when your company is hiring.  A way to refer that person to someone you know at another company.</p>
      <p>What if you had a database of all of the talented people you know?  People you've worked with in the past who you'd highly recommend to someone else.</p>
      <p>What if you could be part of someone else's talent database?  Maybe it'd lead to new opportunities for you.  Because we all know that jobs are found by referrals, not by looking on job boards.</p>
      <p>Introducing Inner Circles.  It's your personal talent database.  It's a personal referral engine.  It's your next hire.  It's your next job opportunity.</p>
    </div>
  </div>
</section>

<section id="how">
<div class="row">
  <div class="col-lg-12 text-center">
    <h2>How It Works</h2>
    <hr class="star-primary">
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <p>Add people to your talent database who you would recommend to others.  People you want to keep track of.  You control access to your talent database.  Maybe you want others to be able to see it.  Maybe a friend's company is hiring and you want to let him see your talent database.  Maybe only select individuals can access it.  Maybe no one.  </p>
    <p>Other people have talent databases too.  When you're added to one, you'll be notified.  You can control access to your profile.  Maybe a recruiter will see you on a talent database and contact you.  The possibilities are endless.  So are the opportunities.  </p>
    <p>Start managing the talent you know.  Get access to other people's talent databases.  Put yourself in a position to get noticed.  </p>
  </div>
</div>
</div>
</section>

<section id="sign">
<%= render partial: 'users/form' %>
</section>

<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

