<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#page-top">Luke's Circle</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
      <a href="#page-top"></a>
      </li>
      <li class="page-scroll">
      <a href="#about">About</a>
      </li>
      <li class="page-scroll">
      <a href="#sign">Sign Up</a>
      </li>
      <li><%= render partial: 'partials/log_in' %></li>
    </ul>
  </div>
</div>
</nav>

<header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag "circle.jpeg", class: "img-responsive" %>
      <div class="intro-text">
        <span class="name">Luke's Circle</span>
        <hr class="star-primary">
        <span class="skills">Inside the Circle</span>
      </div>
    </div>
  </div>
</div>
</header>

<!-- About Section -->
<section class="success" id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About</h2>
      <hr class="star-light">
    </div>
  </div>
</div>
</section>

<section id="sign">
<%= render partial: 'users/form' %>
</section>

<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

